{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    {% if stocks %}
        <table class="table table-striped table-hover" aria-describedby="Listing of owned shares and their values">
            <thead class="table-dark">
            <tr>
                <th scope="col" class="text-start">Symbol</th>
                <th scope="col" class="text-start">Name</th>
                <th scope="col" class="text-end">Shares</th>
                <th scope="col" class="text-end">Price</th>
                <th scope="col" class="text-end">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for stock in stocks %}
                <tr>
                    <td class="text-start">
                        {{ stock.symbol }}
                    </td>
                    <td class="text-start">
                        {{ stock.name }}
                        <a href="/buy?symbol={{ stock.symbol }}">Buy</a>
                    </td>
                    <td class="text-end">
                        {{ stock.shares }}
                    </td>
                    <td class="text-end">
                        {{ stock.price | usd }}
                    </td>
                    <td class="text-end">
                        {{ stock.total | usd }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td class="border-0" colspan="3"></td>
                <td class="border-0">Cash</td>
                <td class="border-0 text-end">{{ cash | usd }}</td>
            </tr>
            <tr class="border-0">
                <td colspan="3" class="border-0"></td>
                <td class="border-0 fw-bold">Total</td>
                <td class="border-0 text-end fw-bold">{{ total | usd }}</td>
            </tr>
            </tfoot>
        </table>
    {% else %}
        No stocks owned. Click <a href="/buy">here</a> to buy
    {% endif %}
{% endblock %}
